body {
font-family: poppins;
width: 80;
display: flex;
align-items: right;
justify-content: flex-start;
flex-direction: column;
margin: 20px;
}
header{
    max-width: 1000px;
    width:100px ;
    min-height: 500px;
    align-items: flex-end;
}

nav{
    max-width: 1000px;
    width: 100px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    
}
.logo {
width: 350px;
}

ul {
    list-style: none;
    display: flex;
    max-width: 350px;
    width: 100%;
    justify-content: space-around;
}

li {
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    position: relative;
    left: 300px;
}
button {
    max-width: 102px;
    width: 80px;
    height: 30px;
    background-color: #FFFFFF;
    color: #173A56;
    position: relative;
    top: -40px;
    left: 600px;

}
.btn-sign-in {
    color: #173A56;
    background-color: #FFFFFF;
}
.btn-sign-up{
    color: #FFFFFF;
    background-color: #FF9900;
}

.header-container {
    width: 400px;
    height: 250px;
    background-color: #FFFFFF;

}
.main-title {
    font-family: poppins;
    font-size: 30px;
}
.header-info {
    width: 320px;
    height: 150px;
    position: relative;
    top: -200px;

}


.btn-started {
    background-color: #FF9900;
    color: #FFFFFF;
    width: 100px;
    height: 35px;
    flex-direction: column;
    position: relative;
    left: 0px;
    top: 35px;
    display: flex;
    border-radius: 5px;
    border: none;
    justify-content: center;
}
.btn-vid {
    background-color: #FFFFFF;
    color: #FF9900;
    width: 100px;
    height: 35px;
    flex-direction: column;
    position: relative;
    left: 110px;
    top: 0px;
    border-radius: 5px;
    border: none;
    justify-content: center;
}
.header-img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 500px;
    top: -450px;
}
.feature-container {
    width: 400px;
    height: 100px;
    position: relative;
    left: 300px;


}
.main-title {
    font-family: poppins;
    font-size: 25px;
}

.card {
    width: 650px;
    height: 170px;
    background-color:#FFFFFF;
    border: 10px;
    border-color: black;
    position: relative;
    right: 100px;
    
}
.logo {
    width: 05px;
    height: 05px;

}
.card-1 {
    width: 150px;
    height: 120px;  
}
.card-2{
    width: 170px;
    height: 120px;
    position: relative;
    left: 150px;
    top: -120px;

}
.card-3 {
    width: 150px;
    height: 120px;
    position: relative;
    left: 330px;
    top: -240px;
    
}
.card-4 {
    width: 150px;
    height: 120px;
    position: relative;
    left: 500px;
    top: -360px; 
}

.btn-sign-up {
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 30px;
    position: relative;
    left: 250px;
    top: -300px;
    font-size: 10px;
}
.validation-part {
    display: flex;
    width: 850px;
    height: 600px;
    position: relative;
    top: 270px;
    flex-direction: row;
    background-color: #FFFFFF;
    gap: 30px;
}
.text-info {
    flex-direction: column;
    justify-content: space-evenly;
}
.design-text {
    font-size: 30px;
    position: relative;
    top: -25px;
}
.define-text {
    position: relative;
    top: -20px;
}

.manager-container {
    display: flex;
    width: 950px;
    height: 600px;
    position: relative;
    top: 270px;
    flex-direction: row;
    background-color:#FFFFFF;
    justify-content: space-between;
    gap: 30px;
}
.div-manager-img {
width: 40px;
height: 40px;
}
.Text {
    font-size: 20px;
    position: relative;
    top: 80px;
}
.design-making {
    font-size: 20px;
}
.prodc-mangr {
    font-size: 35px;
    position: relative;
    top: -20px;
}
.myspace {
    position: relative;
    top: -20px;
}
.icon-info {
    align-items: center;
    gap: 10px;
}
.icon-text-1 {
    display: flex;
}
.icon-text-2 {
    display: flex;
    position: relative;
    top: 30px;
}
.icon-text-3 {
    display: flex;
    position: relative;
    top: 50px;
}