* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'poppins', sans-serif;}

.main-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}
.logos img {
	height: 30px;
	width: 120px;
}

nav {
	align-self: center;
}

.nav-links {
	display: flex;
	gap: 25px;
	font-weight: bold;}

.nav-links li {
	list-style: none;
	font-size: 14px;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-weight: bold;}

.nav-links li:hover {
	text-decoration: underline;
}

/*sign-in-sign up buttons*/
.nav-buttonstwo {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

.sign-in,
.sign-up {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	width: 102px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-decoration: none;}

.sign-in {
	color: black;
	border: solid #BCD0E5 2px;
	margin-right: 5px;
}
.sign-up {
	background-color: orange;
	color: white;
	border: none;
}

.sign-up:hover {
	background-color: darkorange;
}
.orang-play-btn img{
	cursor: pointer;
	margin-left: 10px;
}

.orang-play-btn:hover{
	background-color: darkorange;

}


.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.main-title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: black;
	margin-top: 50px;
}
.content-style {
	max-width: 458px;
	margin-top: 10px;
	margin-left: 200px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 35px;
}

/* Buttons */
.main-btn {
	background-color: orange;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	width: 175px;
	height: 53px;
	border: none;
	cursor: pointer;
}

.main-btn:hover {
	background-color: darkorange;
}

.btn-two {
	width: 161px;
	background-color: white;
	color: orange;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 16px;
	border: none;
	left: 20px;
	cursor: pointer;
}

.btn-two:hover {
	background-color: orange;
	color: white;
}

/*  Blocks */
.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 40px auto;
	max-width: 2000px;
	min-width: 1200px;
}


.block {
	width: 250px;
	margin: 20px;
	text-align: center;
}

.block img {
	width: 70px;
	margin-bottom: 15px;
	height: auto;
	margin-bottom: 15px;
}

.block h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

.block p {
	font-size: 16px;
	color: #544837;
}


.block:hover {
	transform: translateY(-5px);
	transition: transform 0.3s ease;
}


.secondtitle {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 36px;
	margin-top: 30px;
	color: black;
}

.signupnow {
	align-self: center;
	text-decoration: none;
}

.icons-section {
	display: flex;
	flex-direction: column;
}

.design {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 100px;
	gap: 100px;
}

.d-image {
	max-width: 605px;
	max-height: 596px;
}

.d-image-1 img {
	max-width: 500px;
	max-height: 537px;
}

.d-image img {
	max-width: 500px;
	max-height: 500px;

}

.d-content {
	display: flex;
	flex-direction: column;
	width: 500px;
	font-weight: bold;
	font-size: 25px;
	line-height: 0.1;
	gap: 30px;
}


.content-title {
	font-weight: bold;
	margin-inline: 0;
	margin-block-start: 0;
	font-size: 20px;
	font-weight: bold;
}

.content-style {
	font-family: 'poppins', sans-serif;
	margin-inline: 0;
	margin-block-start: 0;
	color: #544837;
	line-height: 1.8;
	font-weight: 100;
}

.img-tick {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

.row-style {
	display: flex;
	column-gap: 5px;

}

.footer {
	display: flex;
	justify-content: space-evenly;
	color: #544837;
	font-size: 16px;
	border-top: solid #BCD0E5 2px;
	padding-top: 50px;
	margin-bottom: 30px;
}

.footer img {
	width: 120px;
	height: 30px;
}

.footer li {
	list-style: none;
}

.email {
	width: 200px;
	height: 20px;
	border: solid #BCD0E5 2px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.footer .sign-up {
	width: 100px;
	height: 30px;
	font-size: 12px;
	text-decoration: none;
}